@font-face {
	font-family:'Moon';
	src: url("./polices/Moon2.0-Light.otf") format('OpenType'),
}
.titre{
    color:rgb(255, 196, 0);
    text-align: center;
    animation: apparition 2s ease-out;
    font-size: 100px;
}
#h2{
    font-size: 40px;
}

html{ 
    color: rgb(255, 196, 0);
    font-family: 'Moon';
}
#contenus1{
    display: flex;
    flex-direction: column;
    padding-bottom:145px;
}
.grpdiv{
    display: flex;
    flex-direction:row;
    align-items: center;
    animation: agrandissement 3s;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
    gap: 30px;
}
/* ##########################--PLANETES--########################## */
#Soleil{
    width: 35.3%;
    background-image: url("images/soleil.png");
}
#Mercure{
    width: 2%;
    background-image: url("images/mercure.png");
}
#Venus{
    width: 3.2%;
    background-image: url("images/venus.png");
}
#Terre{
    width: 3.2%;
    background-image: url("images/terre.png");
}
#Mars{
    width: 2.5%;
    background-image: url("images/mars.png");
}
#Jupiter{
    width: 12%;
    background-image: url("images/jupiter.png");
}
#Saturne{
    width: 19%;
    background-image: url("images/saturne.png");
    aspect-ratio: 2/1;
}
#Uranus{
    width: 4%;
    background-image: url("images/uranus.png");
}
#Neptune{
    width: 4%;
    background-image: url("images/neptune.png");
}
/*-----------------------------------------------------*/
.planete {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 500px;
    transition: transform .2s;
    aspect-ratio: 1/1;
}

:hover.planete {
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    animation: pulse 1s infinite;
    transform: scale(1.1);
}
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 50px rgba(255, 0, 0, 0);
    }
}
/* ##########################--SPAWN--########################## */
@keyframes apparition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes agrandissement {
    from {
        scale: 0%;
    }
    to {
        scale: 100%;
    }
}
/* ##########################--RESPONSIVE--########################## */
@media only screen and (max-width: 1870px) {
    .grpdiv{
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }

}
@media only screen and (max-width: 700px) {
    .titre{
        font-size: 50px;
    }
    #h2{
        font-size: 20px;
    }
    #Soleil{width: 60%;}
    #Mercure{width: 8%;}
    #Venus{width: 15%;}
    #Terre{width: 15%;}
    #Mars{width: 11%;}
    #Jupiter{width: 40%;}
    #Saturne{width: 70%;}
    #Uranus{width: 20%;}
    #Neptune{width: 20%;}
}
/* ##########################--PARALAX--########################## */
body{
    margin: 0;
    background-color: #000000;
}
#bg {
    position: flex;
    width: auto;
    height: auto;
    background-image: 
    url(https://media.discordapp.net/attachments/1068515510418944073/1080477847178723448/sketch-1677676374969.png?width=608&height=608),
    url(https://media.discordapp.net/attachments/1068515510418944073/1080477846641856603/sketch-1677676361569.png?width=608&height=608),
    url(https://media.discordapp.net/attachments/1068515510418944073/1080477846927048764/sketch-1677676368185.png?width=608&height=608);
    background-repeat: repeat;
    background-position: 50% 50%;
}
/* ##########################--SECONDEPARTIE--########################## */
#contenus2{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255, 196, 0, 0.253) 100%);
}
#ligne{
    width: 100%;
    border: 1px rgb(255, 196, 0) solid;
}
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* #cop{

} */